Source: mywebsql
Section: net
Priority: optional
Maintainer: OpenMediaVault Plugin Developers <plugins@omv-extras.org>
Build-Depends: debhelper (>= 9.0.0)
Standards-Version: 3.9.3

Package: mywebsql
Architecture: all
Depends: ${misc:Depends}, openmediavault (>= 0.6.0.13), openmediavault-mysql (>= 0.6)
Priority: optional
Description: MyWebSQL
 MyWebSql is an open source, web based, WYSIWYG mysql client written in PHP. It
 utilizes modern day technologies and browsers to provide a fast, intuitive querying
 and editing interface to the mysql databases.
