#!/usr/bin/make -f

%:
	dh $@

override_dh_install:
	# Remove useless documentation, scripts and sources.
	dh_install \
		--sourcedir=mywebsql \
		-XREADME.md \
		-Xreadme.txt \
		-Xinstall.php

override_dh_fixperms:
	dh_fixperms -X var/lib/mywebsql
	# Make sure MyWebSQL can write in these directories.
	for i in backup ; do \
		chown www-data:www-data debian/mywebsql/var/lib/mywebsql/$$i && \
		chmod 2770 debian/mywebsql/var/lib/mywebsql/$$i ; \
	done

get-orig-source:
	# Should we add --download-current-version here?
	uscan --force --verbose --rename --repack
