#!/usr/bin/make -f

%:
	dh $@

override_dh_install:
	# Remove useless licences, documentation, tests, scripts and sources
	dh_install \
		-X.git \
		-XREADME.md \
		-Xreadme.txt \
		-Xmywebsql/Docs \
		-Xmywebsql/install.php

get-orig-source:
	# Should we add --download-current-version here?
	uscan --force --verbose --rename --repack
